/* common css */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  vertical-align: top;
}

/*inline-block 은 inline 요소의 width, height 값 조절을 위해, position:absolute 는 노멀 플로우에서 요소의 위치를 지우기 위해*/
.a11y {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border: 0;
  clip-path: inset(50%);
}

/* 공통 주황 버튼 */
.btn-common {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700;
  background-color: #d97652;
  border-radius: 40px;
  color: #fff;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  height: 902px;
  flex-direction: column;
  background-color: #f2e9d8;
}
.box-navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.box-headerinfo {
  background: url(../images/img_hodu_header.png) bottom right no-repeat;
  height: 800px;
  margin: 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.box-headerinfo > .txt-header-title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.box-headerinfo > .txt-header {
  font-size: 16px;
  line-height: 20px;
}

/* main */
/* main-intro section */
.cont-main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 80px auto 0;
}

.cont-main .main-intro figure {
  display: flex;
  align-items: center;
  gap: 110px;
}

.cont-main .main-intro img {
  /* x-position y-position blur color */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.main-intro figcaption h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-intro figcaption p {
  font-size: 16px;
  line-height: 20px;
}

/* main-photos section */
.cont-main .main-photos {
  margin: 120px 0 68px;
  padding-bottom: 80px;
  border-bottom: 1px solid #c4c4c4;
}

.main-photos .txt-photos-title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #d97652;
  text-align: center;
}
.main-photos .txt-photos {
  text-align: center;
}

.main-photos .txt-photos strong {
  color: #d97652;
}

.main-photos .list-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 88px 0 100px;
  gap: 72px;
}

.main-photos .list-photos button {
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.main-photos .box-extends {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.main-photos .box-extends .txt-info {
  margin-bottom: 40px;
}

.box-extends .end {
  display: none;
}

/* main-map section */
.cont-main .main-map {
  margin: 68px 0 80px;
}

.main-map h2 {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 20px;
}

.main-map address {
  margin-bottom: 40px;
  font-style: normal;
  color: #606367;
}

.main-map #map {
  height: 520px;
  background-color: black;
  border-radius: 12px;
}

.widget-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 58px;
  border-radius: 30px;
  background-color: #263140;
  color: #fff;
}
.widget-subscribe h3 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 18px;
}

.widget-subscribe p {
  font-size: 14px;
  line-height: 18px;
}

.widget-subscribe .form-subscribe {
  position: relative;
  width: 530px;
}

.widget-subscribe .form-subscribe::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 24px;
  height: 24px;
  background: url('../images/icon_mail.png');
  z-index: 1;
}

.widget-subscribe .form-subscribe input {
  position: relative;
  width: 100%;
  padding: 20px 135px 20px 60px;
  overflow: hidden;
  border-radius: 60px;
  border: none;
  box-sizing: border-box;
}

.widget-subscribe .form-subscribe .btn-common {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

/* footer */
.cont-footer::before {
  content: '';
  display: block;
  background: url('../images/bg_footer.jpeg') center/cover no-repeat;
  width: 100%;
  height: 340px;
  margin-top: -100px;
}

.cont-footer .box-footer {
  max-width: 1280px;
  padding: 45px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cont-footer .list-link-sns {
  display: flex;
  gap: 20px;
}

.cont-footer .list-link-sns a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(../images/icon_blog.svg) #f29d52 center no-repeat;
}

.cont-footer .list-link-sns .link-insta {
  background-image: url(../images/icon_insta.svg);
}

.cont-footer .list-link-sns .link-facebook {
  background-image: url(../images/icon_facebook.svg);
}

.cont-footer .list-link-sns .link-youtube {
  background-image: url(../images/icon_youtube.svg);
}

/* 유틸리티 파트 */
.link-top {
  position: fixed;
  bottom: 184px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  background: url(../images/icon_arrow_up_normal.svg) white center no-repeat;
}
